@import '../Vars.scss';

.header {
  width: 100%;
  height: 80px;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isLogin, .isRegister {
  background-color: $main-color;
}

.header__img {
  width: 200px;
  margin: 10px 0 0 10px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0 0 0 -14px;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  display: flex;
  margin-right: 8px;
  align-items: center;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.header__menu--profile p {
  margin: 0;
  color: white;
}
