.login {
  background: linear-gradient(#21c088, #ab88ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 350px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  margin-right: 10px;
  width: 30px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input__login {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid white;
  font-family: "Mulish", sans-serif;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
}
